.shuffleContainer {
  width: 80px;
  height: 80px;
  margin: auto;
  position: relative;
}

.shuffleCard {
  position: absolute;
  width: 25px;
  height: 40px;
  border: solid black 1px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 5px 8px 8px -2px rgba(0, 0, 0, 0.49);
}

#front {
  animation: front;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#mid {
  animation: mid;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}

#back {
  animation: back;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes front {
  0% {
    z-index: 30;
    top: 15px;
    left: 10px;
  }
  40% {
    z-index: 30;
    top: -55px;
    left: 15px;
  }
  80% {
    z-index: 10;
    top: -60px;
    left: 30px;
  }
  98% {
    top: 5px;
    left: 30px;
  }
  100% {
    top: 5px;
    left: 30px;
  }
}

@keyframes mid {
  0% {
    z-index: 20;
    top: 10px;
    left: 20px;
  }
  /* 40% {
    z-index: 30;

    top: 10px;
    left: 20px;
  }
  70% {
    z-index: 30;

    top: 15px;
    left: 10px;
  } */
  95% {
    z-index: 30;
    top: 15px;
    left: 10px;
  }
  100% {
    z-index: 30;
    top: 15px;
    left: 10px;
  }
}

@keyframes back {
  0% {
    z-index: 10;
    top: 5px;
    left: 30px;
  }
  /* 40% {
    z-index: 10;
    top: 5px;
    left: 30px;
  }
  76% {
    z-index: 10;
    top: 10px;
    left: 20px;
  } */
  95% {
    z-index: 10;
    top: 10px;
    left: 20px;
  }
  100% {
    z-index: 10;
    top: 10px;
    left: 20px;
  }
}
